<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WorkTimer.Properties.Settings>
            <setting name="ActivityTime" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="InterruptingTime" serializeAs="String">
                <value>00:03:00</value>
            </setting>
            <setting name="BreakTime" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="MinBreakTime" serializeAs="String">
                <value>00:00:59</value>
            </setting>
        </WorkTimer.Properties.Settings>
    </userSettings>
</configuration>